
clean:
	/bin/rm -f *.o *.s *.t *.elf *.flat *.so *.efi *~ $(H)

cleansource:
	/bin/rm -f *.o *.c *.h *.s *~

%.s: %.c
	$(CC) $(GCCOPTS) -S $<
%.o: %.c
%.o: %.s
	$(CC) $(GCCOPTS) -c -o $@ $<
%.t: %.s
	awk -f show.awk $< > $@

ifeq ($(CONFIG_EFI),y)
%.so: EFI_LDFLAGS = -Bsymbolic -shared -nostdlib -defsym=EFI_SUBSYSTEM=0xa --no-undefined
%.so: %.o utils.o kvm_timeofday.o $(FLATLIBS) $(SRCDIR)/arm/efi/elf_aarch64_efi.lds $(cstart.o)
	$(CC) $(GCCOPTS) -c -o $(@:.so=.aux.o) $(SRCDIR)/lib/auxinfo.c \
		-DPROGNAME=\"$(@:.so=.efi)\" -DAUXFLAGS=$(AUXFLAGS)
	$(LD) $(EFI_LDFLAGS) -o $@ -T $(SRCDIR)/arm/efi/elf_aarch64_efi.lds \
		$(filter %.o, $^) $(FLATLIBS) $(@:.so=.aux.o)
		$(EFI_LIBS)
	$(RM) $(@:.so=.aux.o)

%.efi: %.so
	$(call arch_elf_check, $^)
	$(OBJCOPY) -j .text -j .sdata -j .data -j .dynamic -j .dynsym \
		-j .rel -j .rela -j .rel.* -j .rela.* -j .rel* -j .rela* \
		-j .reloc \
		-O binary $^ $@
else
%.elf: LDFLAGS = -nostdlib -pie -n
%.elf: %.o utils.o kvm_timeofday.o $(FLATLIBS) $(SRCDIR)/arm/flat.lds $(cstart.o)
	$(CC) $(CFLAGS) -c -o $(@:.elf=.aux.o) $(SRCDIR)/lib/auxinfo.c \
		-DPROGNAME=\"$(@:.elf=.flat)\" -DAUXFLAGS=$(AUXFLAGS)
	$(LD) $(LDFLAGS) -o $@ -T $(SRCDIR)/arm/flat.lds \
		$(filter %.o, $^) $(FLATLIBS) $(@:.elf=.aux.o)
	$(RM) $(@:.elf=.aux.o)
	@chmod a-x $@

%.flat: %.elf
	$(call arch_elf_check, $^)
	$(OBJCOPY) -O binary $^ $@
	@chmod a-x $@
endif
