# Current kinds file
kinds ./catalogue/aarch64/tests/kinds.txt

# Default variant
#variant vmsa,fatal

# Graph defaults
show prop
unshow intrinsic,isb,dmb.ld,dmb.st,dmb.sy,dsb.sy,dsb.st,dsb.ld,addr,ctrl,ctrlisb
showlegend false
showevents exp

## Color scheme
edgeattr iico_data,color,pink
edgeattr iico_ctrl,color,lightblue
edgeattr rf-reg,color,magenta

## slides
edgeattr tc-ib,color,aquamarine4
edgeattr tr-ib,color,coral
edgeattr lob,color,seagreen
edgeattr CSE-ob,color,orchid
edgeattr CSE-po,color,webgray
#edgeattr po-loc,color,khaki
edgeattr rmw,color,hotpink
edgeattr ets2,color,coral
### parity ets2
#edgeattr po-loc,color,burlywood
edgeattr rfi-ImpPTE,color,skyblue4
edgeattr rfe-ImpPTE,color,gold
edgeattr TLBI-ca,color,greenyellow
edgeattr TLBuncacheable-pred,color,forestgreen
edgeattr HU-pred,color,olive
edgeattr HU-co,color,darkseagreen
edgeattr TTD-read-ordered-before,color,orange
### tr-ib^1; TTD-read-ordered-before & ext
edgeattr TLBI-ob,color,gray
### po-va-loc; TTD-read-ordered-before & ext
edgeattr TLBI-ob,color,purple
edgeattr TLBI-after,color,forestgreen
edgeattr Tag-obs,color,darkgreen
edgeattr dob,color,darkgoldenrod1
edgeattr bob,color,orange3
edgeattr DSB-ob,color,gray
edgeattr IFB-ob,color,navyblue
edgeattr ets-ob,color,skyblue4
edgeattr tc-before,color,aquamarine4
edgeattr DC-after,color,forestgreen
edgeattr DC-ca,color,purple
